.block {
    display: flex;
    border: solid 1px;
    height: 97%;
    width: 95%;
    margin: auto;

    .blockLeft {
        width: 30%;
        border-right: solid 1px;
        display: none;
    }

    .blockRight {
        width: 100%;
        padding: 24px;
        canvas{
            width: 60%;
            height: 100%;
            background: #d2fbc0;
        }
    }
}